@media (min-width: 320px) {
  @media (max-width: 560px) {
    main {
      max-width: 300px;
    }
    header {
      margin: 40px auto 40px auto;
    }
    nav {
      display: none;
    }
    #menu-toggle {
      display: flex;
    }
    section,
    .section-secundary,
    footer {
      flex-direction: column;
    }
    .section-primary {
      max-width: 300px;
      margin-bottom: 60px;
    }
    .section-primary img {
      height: 250px;
    }
    .section-secundary {
      gap: 20px;
    }
    .section-secundary-texts {
      gap: 20px;
    }
    .section-secundary p {
      width: 300px;
    }
    .section-third {
      width: 300px;
    }
  }
}
@media (min-width: 561px) {
  #menu-toggle {
    display: none !important;
  }
  .menu {
    display: none;
  }
}
@media (min-width: 561px) {
  @media (max-width: 768px) {
    main {
      max-width: 550px;
    }
    .section-primary {
      max-width: 550px;
      margin-bottom: 60px;
    }
    .section-primary img {
      height: 300px;
    }
    section,
    .section-secundary,
    footer {
      flex-direction: column;
    }
    .section-secundary,
    .section-secundary-texts {
      gap: 20px;
      align-items: center;
    }

    .section-secundary h1,
    .section-secundary p {
      width: 500px;
    }
    .section-third {
      width: 500px;
      margin: 0 auto;
    }
    footer {
      width: 500px;
      margin: 50px auto;
    }
    .footer-secundary {
      width: 400px;
    }
  }
}
@media (min-width: 769px) {
  @media (max-width: 1023px) {
    main {
      max-width: 700px;
    }
    section {
      flex-direction: column;
    }
    .section-primary {
      max-width: 100%;
      margin-bottom: 60px;
    }
    .section-primary img {
      height: 250px;
    }

    .section-secundary,
    .section-secundary-texts {
      gap: 10px;
    }
    .section-third {
      width: auto;
      padding: 48px 12px 24px 12px;
    }
    .section-third h2 {
      text-align: center;
    }
    .section-third-infos {
      flex-direction: row;
      align-items: center;
    }
    .section-third-texts {
      display: flex;
      width: 220px;
      height: 200px;
    }
    hr {
      border-right: 1px solid white;
      border-left: 1px solid white;
      height: 180px;
      margin: 0 10px 0 10px;
    }
    footer {
      width: auto;
      flex-direction: column;
    }
    .footer-primary {
      justify-content: space-between;
    }
    .footer-secundary {
      width: 400px;
    }
  }
}
@media (min-width: 1024px) {
  @media (max-width: 1360px) {
    main {
      max-width: 924px;
    }
    .section-primary {
      max-width: 524px;
      margin-bottom: 60px;
    }
    .section-primary img {
      height: 274px;
    }
    .section-third {
      width: 324px;
      margin: 0 auto;
    }
    .section-secundary {
      gap: 20px;
      flex-direction: column;
    }
    .section-secundary-texts {
      gap: 20px;
    }
    footer {
      width: 500px;
      gap: 40px;
    }
  }
}
