@media (min-width: 320px) {
    @media (max-width: 768px) {
        body {
            justify-content: flex-start;
        }
        .container {
            flex-direction: column;
            align-items: center;
            margin-top: 24px;
        }

        .box-result {
            width: 80%;
        }

        .box-summary {
            padding: 64px 16px 32px 16px;
            left: 0;
            top: -20px;
            border-radius: 32px;
            width: 80%;

        }

        .infos-summary {
            padding: 0;
        }

        .box-summary .resume-summary button {
            margin-top: 16px;
        }

        .attribution {
            position: fixed;
            right: 0;
            margin: 8px 0px;
            z-index: 4;
            background-color: cornflowerblue;
            border-radius: 4px;
            padding: 8px 4px;
            text-orientation: mixed;
            writing-mode: vertical-rl;
        }
    }
}